@font-face {
  font-family: 'bamin';
  font-style : normal;
  font-weight: normal;
  src        : local('BMJUA'), local('BMJUA');
  /* IE9 Compat Modes */
  src        : 
    url('../fonts/BMJUA.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/BMJUA.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/BMJUA.otf') format('truetype');
}

* {font-family:bamin !important;}