@charset "UTF-8";
.virtual_content {
  display: block;
  position: absolute;
  content: ''; }

.bg_non_wide .inner_section {
  background: url(../images/sample_component_four_img.jpg) center/cover; }

.txt_area .note-editor {
  padding: 15px; }

.wrap_imgtxt.sty2 .img_area {
  padding: 0 !important; }

section.bg_color1 {
  background-color: #f2f2f2; }

.empty_page {
  height: calc(100vh - 260px - 80px); }
  .empty_page .inner_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; }
    .empty_page .inner_section .icon_emptyblock {
      display: block;
      width: 301px;
      height: 301px;
      background: url("../images/empty_block.png") no-repeat left top;
      background-size: 301px 301px; }
    .empty_page .inner_section .section_tit_center {
      margin-top: 30px;
      font-size: 2.8rem;
      color: #4d4d4d; }
      .empty_page .inner_section .section_tit_center .btn_add {
        display: inline-flex;
        width: 26px;
        height: 26px;
        margin-left: 10px;
        vertical-align: -2px;
        background: #ffffff url(../images/btn_add.svg) center/26px 26px; }

/* -------------------------------------
			다른 컴포넌트 
--------------------------------------  */
.padding_sty1 {
  width: 100%;
  height: 30px; }

.padding_sty2 {
  position: relative;
  z-index: 30;
  width: 100%;
  height: 15px; }

.wrap_maptxt .wrap_map_area {
  padding: 15px; }
  .wrap_maptxt .wrap_map_area .map_area {
    height: 500px; }
.wrap_maptxt .adrs_txt {
  padding: 15px;
  font-family: "본고딕";
  font-size: 2.4rem;
  line-height: 1.5;
  text-align: center;
  color: #242424; }
.wrap_maptxt .contact_nbr {
  display: flex;
  justify-content: center; }
  .wrap_maptxt .contact_nbr .tel_txt, .wrap_maptxt .contact_nbr .fax_txt {
    padding: 15px;
    font-family: "본고딕";
    font-size: 2rem;
    color: #242424; }
.wrap_maptxt.sty2 {
  background: #fff; }
  .wrap_maptxt.sty2 .inner_section {
    display: flex;
    align-items: center; }
    @media (max-width: 767px) {
      .wrap_maptxt.sty2 .inner_section {
        flex-direction: column; } }
    .wrap_maptxt.sty2 .inner_section .wrap_map_area {
      order: 1;
      width: 640px;
      height: 515px; }
      @media (max-width: 767px) {
        .wrap_maptxt.sty2 .inner_section .wrap_map_area {
          order: 2;
          width: 100%; } }
    .wrap_maptxt.sty2 .inner_section .wrap_txt_area {
      width: 640px; }
      @media (max-width: 767px) {
        .wrap_maptxt.sty2 .inner_section .wrap_txt_area {
          order: 1;
          width: auto; }
          .wrap_maptxt.sty2 .inner_section .wrap_txt_area .txt_area {
            padding-bottom: 0; } }
      .wrap_maptxt.sty2 .inner_section .wrap_txt_area .adrs_txt {
        text-align: left; }
      .wrap_maptxt.sty2 .inner_section .wrap_txt_area .contact_nbr {
        justify-content: flex-start; }

.designEl1 .inner_section .txt_area {
  padding: 20px 0; }
  .designEl1 .inner_section .txt_area p {
    font-size: 3rem;
    text-align: center; }

.dbEl2 .inner_section .calendar .fc-prev-button, .dbEl2 .inner_section .calendar .fc-next-button {
  background-color: #757575;
  border-color: #757575; }
.dbEl2 .inner_section .calendar .fc-today-button {
  background-color: #e07272;
  border-color: #e07272; }
.dbEl2 .inner_section .calendar .fc-dayGridMonth-button, .dbEl2 .inner_section .calendar .fc-timeGridWeek-button, .dbEl2 .inner_section .calendar .fc-timeGridDay-button {
  background-color: #757575;
  border-color: #757575; }
  .dbEl2 .inner_section .calendar .fc-dayGridMonth-button.fc-button-active, .dbEl2 .inner_section .calendar .fc-timeGridWeek-button.fc-button-active, .dbEl2 .inner_section .calendar .fc-timeGridDay-button.fc-button-active {
    background-color: #242424;
    border-color: #242424; }
.dbEl2 .inner_section .calendar .fc-toolbar h2 {
  font-size: 3rem; }
.dbEl2 .inner_section .calendar .fc-day-header {
  font-size: 1.6rem; }
.dbEl2 .inner_section .calendar .fc-day-top {
  font-size: 1.6rem; }
.dbEl2 .inner_section .calendar .fc-event {
  font-family: notoSans-M;
  font-size: 1.6rem;
  background: #29abe2;
  border-color: #29abe2; }
.dbEl2 .inner_section .calendar .fc-button {
  font-size: 1.4rem; }

.logo {
  border: 1px solid transparent; }
  .logo .btn_add {
    display: block;
    margin: 0 auto; }
  .logo:hover {
    border: 1px dotted #ccc; }

.btn_click {
  margin: 0 auto; }
  .btn_click.sty1 {
    border-radius: 0 !important; }
  .btn_click.sty2 {
    border-radius: 10px !important; }
  .btn_click.sty3 {
    border-radius: 300px !important; }

.tool .on {
  border-bottom: none !important; }

.wrap_pop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5000; }

/*# sourceMappingURL=component.css.map */
