@charset "utf-8";
    /* ajax loading */
    .container_loading {position:fixed;width:30px;height:30px;top: 50%;left: 50%;transform: translate(-50%, -50%) !important;}
    .container_loading.off {display:none;}
    .container_loading.animation-4{-webkit-transform:rotate(10deg);transform:rotate(10deg);}
    .container_loading.animation-4 .shape{border-radius:5px;}
    .container_loading.animation-4{-webkit-animation:rotation 1s infinite;animation:rotation 1s infinite;}
    .container_loading.animation-4{-webkit-transform:rotate(45deg);transform:rotate(45deg);background-color:transparent;}
    .container_loading .shape{position:absolute;width:10px;height:10px;border-radius:1px;}
    .container_loading .shape.shape1{left:0;background-color:#29abe2;}
    .container_loading .shape.shape2{right:0;background-color:#83daff;}
    .container_loading .shape.shape3{bottom:0;background-color:#ff8692;}
    .container_loading .shape.shape4{bottom:0;right:0;background-color:#ff4e60;}
    @-webkit-keyframes rotation{
        from{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
        to{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
    }
    @keyframes rotation{
        from{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
        to{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
    }
    .animation-4 .shape1{-webkit-animation:animation4shape1 0.3s ease 0s infinite alternate;animation:animation4shape1 0.3s ease 0s infinite alternate;}
    @-webkit-keyframes animation4shape1{
        from{-webkit-transform:translate(0,0);transform:translate(0,0);}
        to{-webkit-transform:translate(5px,5px);transform:translate(5px,5px);}
    }
    @keyframes animation4shape1{
        from{-webkit-transform:translate(0,0);transform:translate(0,0);}
        to{-webkit-transform:translate(5px,5px);transform:translate(5px,5px);}
    }
    .animation-4 .shape2{-webkit-animation:animation4shape2 0.3s ease 0.3s infinite alternate;animation:animation4shape2 0.3s ease 0.3s infinite alternate;}
    @-webkit-keyframes animation4shape2{
        from{-webkit-transform:translate(0,0);transform:translate(0,0);}
        to{-webkit-transform:translate(-5px,5px);transform:translate(-5px,5px);}
    }
    @keyframes animation4shape2{
        from{-webkit-transform:translate(0,0);transform:translate(0,0);}
        to{-webkit-transform:translate(-5px,5px);transform:translate(-5px,5px);}
    }
    .animation-4 .shape3{-webkit-animation:animation4shape3 0.3s ease 0.3s infinite alternate;animation:animation4shape3 0.3s ease 0.3s infinite alternate;}
    @-webkit-keyframes animation4shape3{
        from{-webkit-transform:translate(0,0);transform:translate(0,0);}
        to{-webkit-transform:translate(5px,-5px);transform:translate(5px,-5px);}
    }
    @keyframes animation4shape3{
        from{-webkit-transform:translate(0,0);transform:translate(0,0);}
        to{-webkit-transform:translate(5px,-5px);transform:translate(5px,-5px);}
    }
    .animation-4 .shape4{-webkit-animation:animation4shape4 0.3s ease 0s infinite alternate;animation:animation4shape4 0.3s ease 0s infinite alternate;}
    @-webkit-keyframes animation4shape4{
        from{-webkit-transform:translate(0,0);transform:translate(0,0);}
        to{-webkit-transform:translate(-5px,-5px);transform:translate(-5px,-5px);}
    }
    @keyframes animation4shape4{
        from{-webkit-transform:translate(0,0);transform:translate(0,0);}
        to{-webkit-transform:translate(-5px,-5px);transform:translate(-5px,-5px);}
    }