@charset "UTF-8";
@media (min-width: 1025px) and (max-width: 1280px) {
  html {
    font-size: 9px !important; } }
@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 9px !important; } }
/*----------------------------------------------
	인덱스 페이지
----------------------------------------------- */
.pb_start_page {
  position: relative; }
  .pb_start_page main {
    position: relative;
    overflow: hidden;
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(176deg, #fb5063 0%, #7d87af 100%); }
  .pb_start_page .wrap_main_block {
    height: 100%;
    margin: 0 auto; }
    .pb_start_page .wrap_main_block .intro_area {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      background-image: url(../images/wrap_main_block.png);
      background-position: center bottom;
      background-size: 100%;
      background-repeat: no-repeat; }
      @media (min-width: 1281px) {
        .pb_start_page .wrap_main_block .intro_area {
          background-position: center bottom -100px; } }
    .pb_start_page .wrap_main_block .tit_pb_intro {
      position: absolute;
      left: 12.94%;
      top: 17.67%; }
      .pb_start_page .wrap_main_block .tit_pb_intro .wrap_intro {
        line-height: 0; }
        .pb_start_page .wrap_main_block .tit_pb_intro .wrap_intro:first-child {
          margin-bottom: 21px; }
        .pb_start_page .wrap_main_block .tit_pb_intro .wrap_intro b {
          font-weight: 500;
          font-size: 4.8rem;
          line-height: 1;
          color: #fff; }
        .pb_start_page .wrap_main_block .tit_pb_intro .wrap_intro span {
          font-size: 3rem;
          color: #fff;
          line-height: 1.5; }
          .pb_start_page .wrap_main_block .tit_pb_intro .wrap_intro span.enter {
            display: block; }
    .pb_start_page .wrap_main_block .btn_make_site {
      width: 100%;
      height: 45%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      font-size: 0;
      cursor: pointer; }
    @media (min-width: 1025px) and (max-width: 1280px) {
      .pb_start_page .wrap_main_block .tit_pb_intro {
        position: relative;
        left: 0;
        width: 100%;
        text-align: center; }
        .pb_start_page .wrap_main_block .tit_pb_intro .wrap_intro span, .pb_start_page .wrap_main_block .tit_pb_intro .wrap_intro span.enter {
          display: inline-block; }
          .pb_start_page .wrap_main_block .tit_pb_intro .wrap_intro span br, .pb_start_page .wrap_main_block .tit_pb_intro .wrap_intro span.enter br {
            display: none; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .pb_start_page .wrap_main_block .tit_pb_intro {
        width: 100%;
        position: relative;
        left: 0;
        text-align: center; }
        .pb_start_page .wrap_main_block .tit_pb_intro .wrap_intro span, .pb_start_page .wrap_main_block .tit_pb_intro .wrap_intro span.enter {
          display: inline-block; }
          .pb_start_page .wrap_main_block .tit_pb_intro .wrap_intro span br, .pb_start_page .wrap_main_block .tit_pb_intro .wrap_intro span.enter br {
            display: none; } }
    @media (max-width: 767px) {
      .pb_start_page .wrap_main_block .intro_area {
        background-size: 170%; }
      .pb_start_page .wrap_main_block .tit_pb_intro {
        width: 100%;
        position: relative;
        left: 0;
        text-align: center; }
        .pb_start_page .wrap_main_block .tit_pb_intro .wrap_intro span, .pb_start_page .wrap_main_block .tit_pb_intro .wrap_intro span.enter {
          display: inline-block; }
          .pb_start_page .wrap_main_block .tit_pb_intro .wrap_intro span br, .pb_start_page .wrap_main_block .tit_pb_intro .wrap_intro span.enter br {
            display: none; }
      .pb_start_page .wrap_main_block .btn_make_site {
        width: 50%;
        height: 40%;
        min-height: 100px;
        max-height: 200px; } }
  @media (max-width: 767px) {
    .pb_start_page .pb_header {
      padding: 0 10px; }
      .pb_start_page .pb_header h2 {
        display: none; }
      .pb_start_page .pb_header .btn_guide {
        display: none; }
      .pb_start_page .pb_header .pc_menu_area {
        display: none; }
      .pb_start_page .pb_header .my_profileimg {
        margin-left: auto;
        margin-right: 15px; }
      .pb_start_page .pb_header .btn_logout {
        width: 80px; } }

.pb_header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 56px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 3; }
  .pb_header h1 {
    width: 131px; }
  .pb_header .btn_guide {
    display: inline-block;
    border-radius: 17px;
    background: #fff;
    letter-spacing: -0.9px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1;
    cursor: pointer;
    width: 107px;
    height: 33px;
    line-height: 33px;
    margin-left: 1.3%;
    border: 1px solid #4d4d4d;
    font-size: 1.4rem;
    letter-spacing: 0;
    color: #4d4d4d; }
  .pb_header h2 {
    width: 111px;
    margin-left: auto;
    margin-right: 1.4%;
    font-size: 1.6rem; }
  .pb_header .my_profileimg {
    width: 46px;
    margin-right: 0.8%;
    cursor: pointer; }
    .pb_header .my_profileimg img {
      border-radius: 50%; }
  .pb_header .pc_menu_area {
    position: relative;
    margin-right: 0.8%; }
    .pb_header .pc_menu_area .user_hello {
      padding: 0 20px;
      height: 33px;
      line-height: 33px;
      font-size: 1.4rem;
      color: #4d4d4d;
      background: #fff;
      border: 1px solid #4d4d4d;
      border-radius: 17px;
      cursor: pointer; }
      .pb_header .pc_menu_area .user_hello .name_txt {
        vertical-align: top;
        color: #1257f3; }
      .pb_header .pc_menu_area .user_hello .btn_arrow {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 0;
        border-top: 9px solid #4d4d4d;
        margin-left: 14px;
        vertical-align: 1px; }
    .pb_header .pc_menu_area .pc_menu_cont {
      display: none;
      position: absolute;
      width: 176px;
      left: 50%;
      box-shadow: 0 0 12.8px 2.3px rgba(234, 236, 243, 0.4);
      background-color: #ffffff;
      cursor: default;
      transform: translate(-50%);
      z-index: 1; }
      .pb_header .pc_menu_area .pc_menu_cont .hold_lv {
        background: #efefef; }
      .pb_header .pc_menu_area .pc_menu_cont .my_level {
        height: 32px;
        line-height: 32px;
        font-size: 16px;
        text-align: center;
        cursor: pointer; }
        .pb_header .pc_menu_area .pc_menu_cont .my_level.lv_free {
          background: #e1e1e1;
          color: #4d4d4d; }
          .pb_header .pc_menu_area .pc_menu_cont .my_level.lv_free:hover {
            background: rgba(225, 225, 225, 0.9); }
        .pb_header .pc_menu_area .pc_menu_cont .my_level.lv_bronze {
          background: #d99f6c;
          color: #fff; }
          .pb_header .pc_menu_area .pc_menu_cont .my_level.lv_bronze:hover {
            background: rgba(217, 159, 108, 0.9); }
        .pb_header .pc_menu_area .pc_menu_cont .my_level.lv_silver {
          background: #dedede;
          color: #fff; }
          .pb_header .pc_menu_area .pc_menu_cont .my_level.lv_silver:hover {
            background: rgba(222, 222, 222, 0.9); }
        .pb_header .pc_menu_area .pc_menu_cont .my_level.lv_gold {
          background: #fbdc4d;
          color: #fff; }
          .pb_header .pc_menu_area .pc_menu_cont .my_level.lv_gold:hover {
            background: rgba(251, 220, 77, 0.9); }
      .pb_header .pc_menu_area .pc_menu_cont .hold_kong, .pb_header .pc_menu_area .pc_menu_cont .hold_point {
        display: flex; }
      .pb_header .pc_menu_area .pc_menu_cont dt {
        width: 70px;
        font-size: 13px;
        font-weight: 400;
        padding-left: 13px;
        box-sizing: border-box; }
      .pb_header .pc_menu_area .pc_menu_cont .hold_kong {
        padding-top: 15px;
        padding-bottom: 11px; }
        .pb_header .pc_menu_area .pc_menu_cont .hold_kong dd {
          font-size: 14px;
          font-weight: 500;
          color: #79a500; }
      .pb_header .pc_menu_area .pc_menu_cont .btn_kong_charge {
        display: inline-block;
        border-radius: 14px;
        background: #79a500;
        letter-spacing: -0.9px;
        font-weight: 500;
        text-align: center;
        color: #fff;
        font-size: 11px;
        line-height: 1;
        cursor: pointer;
        display: block;
        width: 91px;
        height: 20px;
        margin-top: 5px;
        line-height: 20px;
        font-weight: 400; }
        .pb_header .pc_menu_area .pc_menu_cont .btn_kong_charge:hover {
          background-color: rgba(121, 165, 0, 0.9); }
      .pb_header .pc_menu_area .pc_menu_cont .hold_point {
        padding-bottom: 15px; }
        .pb_header .pc_menu_area .pc_menu_cont .hold_point dd {
          font-size: 14px;
          font-weight: 500; }
    .pb_header .pc_menu_area .pc_menu {
      background: #fff;
      font-size: 13px;
      color: #4d4d4d; }
      .pb_header .pc_menu_area .pc_menu li {
        height: 32px;
        line-height: 32px;
        padding: 0 13px;
        cursor: pointer; }
        .pb_header .pc_menu_area .pc_menu li:hover {
          background: #efefef; }
          .pb_header .pc_menu_area .pc_menu li:hover a {
            text-decoration: none; }
    .pb_header .pc_menu_area.on .pc_menu_cont {
      display: block; }
    .pb_header .pc_menu_area.on .btn_arrow {
      border-top: 0;
      border-bottom: 10px solid #4d4d4d; }
  .pb_header .btn_logout {
    display: inline-block;
    border-radius: 17px;
    background: #fff;
    letter-spacing: -0.9px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1;
    cursor: pointer;
    width: 107px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #4d4d4d;
    font-size: 1.4rem;
    letter-spacing: 0;
    color: #4d4d4d; }
  .pb_header .btn_login {
    display: inline-block;
    border-radius: 17px;
    background: #fff;
    letter-spacing: -0.9px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1;
    cursor: pointer;
    margin-right: 14px;
    width: 107px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #4d4d4d;
    font-size: 1.4rem;
    letter-spacing: 0;
    color: #4d4d4d; }
  .pb_header .btn_join {
    display: inline-block;
    border-radius: 17px;
    background: #fff;
    letter-spacing: -0.9px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1;
    cursor: pointer;
    width: 107px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #4d4d4d;
    font-size: 1.4rem;
    letter-spacing: 0;
    color: #4d4d4d; }

/*----------------------------------------------
	인덱스 페이지 아래 가이드
----------------------------------------------- */
.pb_guide {
  padding-top: 4.2%;
  padding-bottom: 2.6%;
  background: #f8f8f8; }
  .pb_guide .guide_tit {
    padding-bottom: 4.2%;
    font-weight: 500;
    font-size: 3rem;
    color: #444;
    text-align: center; }
  .pb_guide .guide_subtit {
    font-size: 2.2rem;
    color: #4d4d4d;
    vertical-align: top; }
    @media (min-width: 1281px) {
      .pb_guide .guide_subtit {
        padding-bottom: 1.6%; } }
    @media (max-width: 1280px) {
      .pb_guide .guide_subtit {
        padding: 0 20px; } }
    .pb_guide .guide_subtit.sty2 {
      font-size: 2rem; }
    .pb_guide .guide_subtit.sty3 {
      padding-top: 18px;
      padding-bottom: 0;
      font-size: 1.8rem;
      font-weight: 350;
      color: #ff4e60; }
  .pb_guide .basic_intro {
    width: 100%;
    padding-bottom: 10px;
    font-size: 1.6rem;
    color: #4d4d4d;
    font-weight: 350;
    line-height: 1.5; }
    .pb_guide .basic_intro.sty2 {
      max-width: 800px;
      margin: 0 auto;
      padding: 23px 0 10px;
      border-bottom: 1px solid #ddd;
      color: #29abe2; }
    .pb_guide .basic_intro.sty3 {
      max-width: 800px;
      margin: 0 auto;
      padding-top: 10px;
      text-align: center; }
    @media (max-width: 1280px) {
      .pb_guide .basic_intro {
        padding: 1.56% 20px; } }
    .pb_guide .basic_intro em {
      display: inline-block;
      font-weight: 400;
      vertical-align: top; }
    .pb_guide .basic_intro .btn_my_site {
      color: #29abe2;
      vertical-align: text-bottom;
      cursor: pointer; }
      .pb_guide .basic_intro .btn_my_site:hover {
        text-decoration: underline; }
  .pb_guide .btn_make_site {
    display: inline-block;
    border-radius: 10px;
    background: #29abe2;
    letter-spacing: -0.9px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    line-height: 1;
    cursor: pointer;
    width: 200px;
    display: block;
    padding: 17px 0 20px;
    margin: 0 auto;
    font-weight: 500; }

.playblock_intro {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 3.3% 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box; }
  @media (max-width: 1280px) {
    .playblock_intro {
      padding: 3.8% 20px; } }

.playblock_workspace {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 3.7% 0 0; }
  .playblock_workspace .guide_img {
    display: block;
    margin: 10px auto;
    max-width: 829px; }
    .playblock_workspace .guide_img.sty2 {
      padding-right: 29px; }
  @media (max-width: 1280px) {
    .playblock_workspace {
      padding: 3.8% 20px 0; } }
  @media (max-width: 767px) {
    .playblock_workspace {
      padding: 3.8% 10px 0; } }

.detail_guide {
  width: 100%;
  max-width: 800px;
  margin: 0 auto; }
  .detail_guide > li {
    padding: 10px 0 11px;
    border-bottom: 1px solid #ddd; }
  .detail_guide .li_tit_area {
    display: inline-block;
    width: 22%;
    min-width: 120px;
    font-size: 0;
    vertical-align: top; }
    .detail_guide .li_tit_area .guide_nbr {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border-radius: 50%;
      line-height: 20px;
      font-size: 1.4rem;
      color: #fff;
      text-align: center; }
    .detail_guide .li_tit_area .guide_maintxt {
      font-size: 1.6rem; }
  .detail_guide .guide_subtxt {
    display: inline-flex;
    width: 68%;
    font-weight: 350;
    font-size: 1.6rem;
    vertical-align: top; }
    @media (max-width: 767px) {
      .detail_guide .guide_subtxt {
        padding-left: 10px; } }

.site_set_guide .guide_nbr {
  font-family: 'Roboto';
  background: #ff4e60; }

.section_set_guide .li_tit_area {
  vertical-align: top; }
  .section_set_guide .li_tit_area .guide_maintxt {
    line-height: 20px; }
.section_set_guide .guide_subtxt {
  vertical-align: top; }
.section_set_guide .guide_nbr {
  font-family: '굴림';
  background: #29abe2; }
.section_set_guide .section_detail_guide li {
  padding-bottom: 8px; }

.playblock_tree {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto; }
  .playblock_tree .guide_img {
    display: block;
    width: 100%;
    max-width: 854px;
    margin: 0 auto; }
    .playblock_tree .guide_img.sty2 {
      max-width: 800px; }
    .playblock_tree .guide_img.sty3 {
      margin-top: 0; }
  .playblock_tree .guide_subtit {
    padding-top: 29px;
    text-align: center; }
    .playblock_tree .guide_subtit.sty2 {
      padding-top: 49px;
      padding-bottom: 1.56%; }
    .playblock_tree .guide_subtit.sty3 {
      padding-top: 49px; }
    .playblock_tree .guide_subtit.sty4 {
      text-align: left; }
    @media (max-width: 1280px) {
      .playblock_tree .guide_subtit {
        padding-top: 2.26%; }
        .playblock_tree .guide_subtit.sty2, .playblock_tree .guide_subtit.sty3 {
          padding-top: 3.82%; } }

.guide_foot_note {
  width: 100%;
  max-width: 500px;
  margin: 50px auto 79px;
  color: #4d4d4d;
  line-height: 1.67;
  font-size: 1.8rem; }
  .guide_foot_note:before {
    content: '';
    display: block;
    width: 13px;
    height: 2px;
    margin: 0 auto 49px;
    background: #4d4d4d; }
  @media (max-width: 1280px) {
    .guide_foot_note {
      margin: 10% auto 15.8%; }
      .guide_foot_note:before {
        margin-bottom: 9.8%; } }
  @media (max-width: 500px) {
    .guide_foot_note {
      padding: 0 20px; } }

/*----------------------------------------------
	사이트 만들기,사이트목록 페이지
----------------------------------------------- */
.wrap_make {
  position: fixed;
  z-index: 12;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 2s; }
  .wrap_make:before {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #fff;
    filter: blur(60px) grayscale(0.1);
    transition: all 3s; }
  .wrap_make.on {
    opacity: 1; }
    .wrap_make.on:before {
      content: '';
      filter: blur(0) grayscale(0);
      background: rgba(0, 0, 0, 0.9); }
  .wrap_make.off {
    opacity: 0;
    transition: none; }

.make_site_idx {
  position: relative;
  width: 100vw;
  height: 100vh; }
  .make_site_idx .wrap_naming_site {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .make_site_idx h2 {
    position: relative;
    width: 1280px;
    font-size: 3rem;
    text-align: center;
    color: #ccc; }
    .make_site_idx h2 .btn_close {
      display: block;
      position: absolute;
      right: 15px;
      top: -24px;
      width: 25px;
      height: 25px;
      background: url("../images/btn_close2.svg") no-repeat left top;
      background-size: 25px 25px;
      transition: transform .4s;
      cursor: pointer; }
      .make_site_idx h2 .btn_close:hover {
        transform: scale(1.2); }
  .make_site_idx .cont_make_site {
    width: 400px;
    margin: 102px auto 0; }
    .make_site_idx .cont_make_site .area_site_name,
    .make_site_idx .cont_make_site .area_site_url {
      display: flex;
      align-items: center;
      width: 400px;
      height: 60px;
      margin-bottom: 15px;
      padding: 20px 14px;
      border-radius: 4px;
      background-color: rgba(221, 221, 221, 0.5);
      box-sizing: border-box; }
      .make_site_idx .cont_make_site .area_site_name input,
      .make_site_idx .cont_make_site .area_site_url input {
        display: block;
        color: #fff;
        font-size: 2rem; }
    .make_site_idx .cont_make_site .area_site_name input {
      width: 100%; }
    .make_site_idx .cont_make_site .area_site_url .fixed_pbcom {
      font-size: 2rem;
      color: #bbb; }
    .make_site_idx .cont_make_site .area_site_url input {
      width: 50%;
      margin: 0 10px 0 0; }
    .make_site_idx .cont_make_site .area_select {
      display: flex;
      justify-content: space-between;
      padding: 0 30px; }
      .make_site_idx .cont_make_site .area_select .check_box {
        height: 20px;
        line-height: 20px;
        display: inline-block;
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-size: 2rem;
        color: #ddd; }
        .make_site_idx .cont_make_site .area_select .check_box input {
          position: absolute;
          height: 0;
          width: 0;
          opacity: 0;
          cursor: pointer; }
        .make_site_idx .cont_make_site .area_select .check_box .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 20px;
          width: 20px;
          border: 1px solid #757575; }
        .make_site_idx .cont_make_site .area_select .check_box .checkmark {
          border-radius: 50%;
          background: #fff;
          box-sizing: border-box; }
        .make_site_idx .cont_make_site .area_select .check_box input:checked + .checkmark:after {
          display: block;
          width: 12px;
          height: 12px;
          position: absolute;
          left: 3px;
          top: 3px;
          background: #29abe2;
          border-radius: 50%;
          content: ''; }
    .make_site_idx .cont_make_site .area_btn_make_site {
      margin-top: 49px;
      margin-bottom: 30px;
      border-radius: 4px;
      background-color: #29abe2; }
      .make_site_idx .cont_make_site .area_btn_make_site span {
        display: block;
        width: 400px;
        height: 60px;
        line-height: 60px;
        color: #fff;
        font-size: 2.4rem;
        font-family: notoSans-M;
        text-align: center;
        cursor: pointer; }
    .make_site_idx .cont_make_site .add_notice {
      color: #757575;
      font-size: 1.4rem;
      font-family: "본고딕";
      text-align: center; }

.site_info_alt {
  position: fixed;
  z-index: 12;
  top: 50%;
  left: 50%;
  width: 310px;
  padding: 30px 30px 15px;
  box-sizing: border-box;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  background: #f7f7f7; }
  .site_info_alt .txt_alert {
    margin-bottom: 40px;
    font-size: 1.4rem;
    font-family: "본고딕";
    line-height: 1.4;
    color: #242424; }
  .site_info_alt .btn_box {
    display: flex; }
    .site_info_alt .btn_box .btn_cnfm {
      display: inline-block;
      border-radius: 4px;
      background: #29abe2;
      letter-spacing: -0.9px;
      font-weight: 500;
      text-align: center;
      color: #fff;
      font-size: 1.6rem;
      line-height: 1;
      cursor: pointer;
      width: 110px;
      height: 32px;
      line-height: 32px;
      margin: 0 auto; }

.my_site_list {
  padding-top: 80px; }
  .my_site_list .wrap_my_site {
    width: 1280px;
    margin: 0 auto; }
    .my_site_list .wrap_my_site h2 {
      padding-bottom: 49px;
      font-size: 3rem;
      font-family: "본고딕";
      text-align: center;
      color: #4d4d4d; }
    .my_site_list .wrap_my_site .cont_my_site .wrap_list {
      display: flex;
      flex-wrap: wrap; }
      .my_site_list .wrap_my_site .cont_my_site .wrap_list li {
        padding: 0 15px 15px 15px; }
        .my_site_list .wrap_my_site .cont_my_site .wrap_list li .list_head {
          position: relative; }
          .my_site_list .wrap_my_site .cont_my_site .wrap_list li .list_head img {
            width: 396px;
            height: 230px; }
          .my_site_list .wrap_my_site .cont_my_site .wrap_list li .list_head .btn_del {
            position: absolute;
            right: 13px;
            top: 13px;
            width: 21px;
            height: 21px;
            background: url("../images/btn_close.svg") no-repeat left top;
            background-size: 21px 21px;
            cursor: pointer; }
        .my_site_list .wrap_my_site .cont_my_site .wrap_list li .list_main {
          padding-top: 29px;
          color: #4d4d4d; }
          .my_site_list .wrap_my_site .cont_my_site .wrap_list li .list_main .site_tit {
            padding-bottom: 15px;
            font-size: 2rem;
            font-family: "본고딕"; }
            .my_site_list .wrap_my_site .cont_my_site .wrap_list li .list_main .site_tit .lv_free,
            .my_site_list .wrap_my_site .cont_my_site .wrap_list li .list_main .site_tit .lv_bronze,
            .my_site_list .wrap_my_site .cont_my_site .wrap_list li .list_main .site_tit .lv_gold,
            .my_site_list .wrap_my_site .cont_my_site .wrap_list li .list_main .site_tit .lv_silver {
              display: inline-block;
              padding-left: 5px;
              font-size: 1.4rem;
              vertical-align: 2px; }
            .my_site_list .wrap_my_site .cont_my_site .wrap_list li .list_main .site_tit .lv_free {
              color: #ff4e60; }
            .my_site_list .wrap_my_site .cont_my_site .wrap_list li .list_main .site_tit .lv_bronze {
              color: #c05a36; }
            .my_site_list .wrap_my_site .cont_my_site .wrap_list li .list_main .site_tit .lv_gold {
              color: #8d7542; }
            .my_site_list .wrap_my_site .cont_my_site .wrap_list li .list_main .site_tit .lv_silver {
              color: #4d4d4d; }
            .my_site_list .wrap_my_site .cont_my_site .wrap_list li .list_main .site_tit .badge_bronze {
              display: inline-block;
              width: 21px;
              height: 21px;
              background: url("../images/badge_bronze.png") no-repeat left top;
              background-size: 21px 21px;
              margin-right: 4px;
              vertical-align: top; }
            .my_site_list .wrap_my_site .cont_my_site .wrap_list li .list_main .site_tit .badge_silver {
              display: inline-block;
              width: 21px;
              height: 21px;
              background: url("../images/badge_silver.png") no-repeat left top;
              background-size: 21px 21px;
              margin-right: 4px;
              vertical-align: top; }
            .my_site_list .wrap_my_site .cont_my_site .wrap_list li .list_main .site_tit .badge_gold {
              display: inline-block;
              width: 21px;
              height: 21px;
              background: url("../images/badge_gold.png") no-repeat left top;
              background-size: 21px 21px;
              margin-right: 4px;
              vertical-align: top; }
          .my_site_list .wrap_my_site .cont_my_site .wrap_list li .list_main .site_url {
            padding-bottom: 8px;
            font-family: "본고딕";
            font-size: 1.6rem; }
          .my_site_list .wrap_my_site .cont_my_site .wrap_list li .list_main .expire_area .btn_upgr {
            display: inline-block;
            border-radius: 4px;
            background: #e07272;
            letter-spacing: -0.9px;
            font-weight: 500;
            text-align: center;
            color: #fff;
            font-size: 1.6rem;
            line-height: 1;
            cursor: pointer;
            width: 140px;
            height: 30px;
            line-height: 30px; }
        .my_site_list .wrap_my_site .cont_my_site .wrap_list li .list_ft {
          display: flex;
          margin-top: 15px; }
          .my_site_list .wrap_my_site .cont_my_site .wrap_list li .list_ft span {
            cursor: pointer; }
            .my_site_list .wrap_my_site .cont_my_site .wrap_list li .list_ft span.btn_mng {
              display: inline-block;
              border-radius: 4px;
              background: #4e4e4e;
              letter-spacing: -0.9px;
              font-weight: 500;
              text-align: center;
              color: #fff;
              font-size: 1.6rem;
              line-height: 1;
              cursor: pointer;
              width: 90px;
              height: 30px;
              line-height: 30px; }
            .my_site_list .wrap_my_site .cont_my_site .wrap_list li .list_ft span.btn_dsgn {
              margin: 0 13px;
              display: inline-block;
              border-radius: 4px;
              background: #29abe2;
              letter-spacing: -0.9px;
              font-weight: 500;
              text-align: center;
              color: #fff;
              font-size: 1.6rem;
              line-height: 1;
              cursor: pointer;
              width: 140px;
              height: 30px;
              line-height: 30px; }
            .my_site_list .wrap_my_site .cont_my_site .wrap_list li .list_ft span.btn_copy {
              display: inline-block;
              border-radius: 4px;
              background: #29abe2;
              letter-spacing: -0.9px;
              font-weight: 500;
              text-align: center;
              color: #fff;
              font-size: 1.6rem;
              line-height: 1;
              cursor: pointer;
              width: 140px;
              height: 30px;
              line-height: 30px; }
        .my_site_list .wrap_my_site .cont_my_site .wrap_list li.deleted_site .list_head .wrap_reopen {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 230px;
          padding: 40px 40px 0;
          box-sizing: border-box;
          background-color: rgba(221, 221, 221, 0.8);
          text-align: center; }
          .my_site_list .wrap_my_site .cont_my_site .wrap_list li.deleted_site .list_head .wrap_reopen .site_tit {
            padding-bottom: 22px;
            font-size: 2rem;
            font-family: notoSans-M;
            color: #ff4e60;
            text-align: left; }
          .my_site_list .wrap_my_site .cont_my_site .wrap_list li.deleted_site .list_head .wrap_reopen dl {
            padding-bottom: 37px;
            color: #4e4e4e;
            text-align: left; }
            .my_site_list .wrap_my_site .cont_my_site .wrap_list li.deleted_site .list_head .wrap_reopen dl dt {
              font-size: 1.4rem;
              font-family: notoSans-M; }
            .my_site_list .wrap_my_site .cont_my_site .wrap_list li.deleted_site .list_head .wrap_reopen dl dd {
              padding-top: 9px;
              font-size: 1.6rem;
              font-family: "본고딕"; }
          .my_site_list .wrap_my_site .cont_my_site .wrap_list li.deleted_site .list_head .wrap_reopen .btn_reopen {
            display: inline-block;
            border-radius: 4px;
            background: #29abe2;
            letter-spacing: -0.9px;
            font-weight: 500;
            text-align: center;
            color: #fff;
            font-size: 1.6rem;
            line-height: 1;
            cursor: pointer;
            width: 150px;
            height: 30px;
            line-height: 30px; }
        .my_site_list .wrap_my_site .cont_my_site .wrap_list li.deleted_site .list_ft .btn_mng,
        .my_site_list .wrap_my_site .cont_my_site .wrap_list li.deleted_site .list_ft .btn_dsgn,
        .my_site_list .wrap_my_site .cont_my_site .wrap_list li.deleted_site .list_ft .btn_copy {
          background-color: #ddd;
          cursor: default; }
    .my_site_list .wrap_my_site .cont_my_site .area_btn_make_site {
      margin-top: 49px;
      margin-bottom: 50px;
      text-align: center; }
      .my_site_list .wrap_my_site .cont_my_site .area_btn_make_site .btn_make_site {
        display: inline-block;
        border-radius: 10px;
        background: #fff;
        letter-spacing: -0.9px;
        font-weight: 500;
        text-align: center;
        color: #fff;
        font-size: 1.6rem;
        line-height: 1;
        cursor: pointer;
        border: 1px solid #29abe2;
        width: 250px;
        height: 70px;
        line-height: 70px;
        box-sizing: border-box;
        font-size: 2.2rem;
        color: #29abe2; }

#kong_charge_pop {
  width: 100%;
  max-width: 980px;
  overflow: hidden; }
  @media (max-width: 1024px) {
    #kong_charge_pop {
      max-width: unset;
      height: 100vh; }
      #kong_charge_pop .pop_head, #kong_charge_pop .pop_cont {
        border-radius: 0; }
      #kong_charge_pop .pop_cont {
        overflow-y: auto;
        height: calc(100vh - 70px); } }

.kong_charge_pop .pop_head {
  position: relative;
  height: 70px;
  line-height: 70px;
  padding: 0 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 2rem;
  font-weight: 500;
  color: #4d4d4d;
  background: #fff; }
  .kong_charge_pop .pop_head .btn_close {
    display: block;
    width: 15px;
    height: 16px;
    background: url("/images/btn_icon_del1.svg") no-repeat left top;
    background-size: 15px 16px;
    position: absolute;
    right: 40px;
    top: 27px;
    cursor: pointer; }
.kong_charge_pop .pop_cont {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px 32px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #f8f8f8; }
  .kong_charge_pop .pop_cont:before {
    content: '';
    display: block;
    width: 100%;
    height: 11px;
    position: absolute;
    top: 0;
    left: 0;
    background: #f8f8f8 url(/images/bg_gradient.png) no-repeat center/cover; }
  @media (max-width: 1024px) {
    .kong_charge_pop .pop_cont {
      display: block;
      padding: 35px 0 0; } }
.kong_charge_pop .kong_basket {
  width: 395px;
  height: 289px;
  background: url("/images/img_kong_basket.svg") no-repeat left top;
  background-size: 395px 289px; }
  @media (max-width: 1024px) {
    .kong_charge_pop .kong_basket {
      display: block;
      margin: 0 auto 30px; } }
.kong_charge_pop .current_kong {
  margin-bottom: 10px;
  font-size: 2rem;
  color: #84bf04; }
  .kong_charge_pop .current_kong .icon_kong {
    display: inline-block;
    width: 28px;
    height: 25px;
    background: url("/images/icon_kong.svg") no-repeat left top;
    background-size: 28px 25px;
    margin-right: 9px; }
.kong_charge_pop .inp_kong_area {
  padding: 26px;
  background: #fff; }
  @media (max-width: 1024px) {
    .kong_charge_pop .inp_kong_area {
      padding: 40px 80px; } }
.kong_charge_pop .kong_wrap {
  display: flex;
  align-items: center;
  height: 70px;
  background: #f8f8f8; }
  .kong_charge_pop .kong_wrap .title_box {
    width: 162px;
    padding-left: 25px;
    font-size: 1.6rem;
    font-weight: 500;
    box-sizing: border-box; }
  .kong_charge_pop .kong_wrap .inp_kong {
    padding: 4px 6px;
    margin-right: 25px;
    border-bottom: 1px solid #4d4d4d;
    font-size: 1.6rem;
    color: #4d4d4d; }
.kong_charge_pop .total_price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px; }
  .kong_charge_pop .total_price dt {
    width: 162px;
    padding-left: 25px;
    font-size: 1.6rem;
    font-weight: 500;
    box-sizing: border-box; }
  .kong_charge_pop .total_price .result_pay {
    padding-right: 24px;
    font-size: 1.6rem;
    font-weight: 500;
    color: #4d4d4d;
    text-align: right; }
    .kong_charge_pop .total_price .result_pay .vat_txt {
      font-weight: 400;
      font-size: 1.2rem;
      color: #828282; }
.kong_charge_pop .ps {
  margin-bottom: 5px;
  font-size: 1.2rem;
  text-align: right;
  color: #ff4e60; }
  .kong_charge_pop .ps .icon_exclm {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("/images/icon_excla2_pink.png") no-repeat left top;
    background-size: 12px 12px;
    margin-right: 6px;
    vertical-align: -2px; }
  @media (max-width: 1024px) {
    .kong_charge_pop .ps {
      text-align: center; } }
.kong_charge_pop .pay_terms_box {
  padding-top: 30px;
  font-size: 1.6rem;
  color: #4d4d4d; }
  .kong_charge_pop .pay_terms_box .all_terms_chk {
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #4d4d4d; }
    .kong_charge_pop .pay_terms_box .all_terms_chk .check_contain {
      display: inline-block;
      position: relative;
      padding-left: 19px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: absolute;
      right: 0;
      top: 4px;
      line-height: 14px; }
      .kong_charge_pop .pay_terms_box .all_terms_chk .check_contain input {
        position: absolute;
        height: 0;
        width: 0;
        opacity: 0;
        cursor: pointer; }
      .kong_charge_pop .pay_terms_box .all_terms_chk .check_contain .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 14px;
        width: 14px;
        border: 1px solid #828282; }
  .kong_charge_pop .pay_terms_box .terms_title_wrap .check_contain {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    width: 100%; }
    .kong_charge_pop .pay_terms_box .terms_title_wrap .check_contain input {
      position: absolute;
      height: 0;
      width: 0;
      opacity: 0;
      cursor: pointer; }
    .kong_charge_pop .pay_terms_box .terms_title_wrap .check_contain .checkmark {
      position: absolute;
      top: 0;
      right: 0;
      height: 14px;
      width: 14px;
      border: 1px solid #828282; }
    .kong_charge_pop .pay_terms_box .terms_title_wrap .check_contain .checkmark {
      position: absolute;
      right: 66px;
      top: 4px; }
  .kong_charge_pop .pay_terms_box .terms_title_wrap .btnAllTerms {
    padding-right: 12px;
    width: 6px;
    height: 11px;
    background: url("/images/icon_arrow4.svg") no-repeat left top;
    background-size: 6px 11px;
    font-size: 1.2rem;
    color: #828282; }
.kong_charge_pop .pay_go {
  display: block;
  width: 200px;
  height: 49px;
  line-height: 49px;
  margin: 32px auto 0;
  border-radius: 30px;
  font-size: 1.8rem;
  text-align: center;
  color: #fff;
  background: #4d4d4d;
  cursor: pointer; }
  .kong_charge_pop .pay_go:hover {
    background: rgba(77, 77, 77, 0.9); }

/*# sourceMappingURL=main.css.map */
