@import "_common";

@include mediaquery(pc) {
	html{font-size: 9px !important;}
}
@include mediaquery(tablet) {
	html{font-size: 9px !important;}
}
/*----------------------------------------------
	인덱스 페이지
----------------------------------------------- */
.pb_start_page {
	//플레이블록 메인
	position: relative;

	main {
		position   : relative;
		overflow   : hidden;
		height     : 100vh;
		box-sizing : border-box;
		background: linear-gradient(176deg, rgba(251, 80, 99, 1) 0%, rgba(125, 135, 175, 1) 100%);
	} 

	.wrap_main_block {
		height: 100%;
		margin: 0 auto;

		.intro_area {
			position: relative;
			width : 100%;
			height: 100%;
			margin: 0 auto;
			background-image: url(../images/wrap_main_block.png);
			background-position: center bottom;
			background-size: 100%;
			background-repeat: no-repeat;

			@media (min-width:1281px) {
				background-position: center bottom -100px;
			}
		}

		.tit_pb_intro {
			position: absolute;
			left    : 12.94%;
			top     : 17.67%;

			.wrap_intro {
				line-height: 0;

				&:first-child {
					margin-bottom: 21px;
				}

				b {
					font-weight: 500;
					font-size  : $tit_big_txt2;
					line-height: 1;
					color      : #fff;
				}

				span {
					font-size  : $tit_txt;
					color      : #fff;
					line-height: 1.5;

					&.enter {
						display: block;
					}
				}
			}
		}

		.btn_make_site {
			width      : 100%;
			height     :45%;
			position   : absolute;
			bottom        : 0;
			left       : 50%;
			transform  : translateX(-50%);
			font-size: 0;
			cursor     : pointer;
		}

		@include mediaquery(pc) {
			.tit_pb_intro {
				position: relative;
				left:0;
				width:100%;
				text-align: center;
				
				.wrap_intro {					
					span, span.enter {display: inline-block;				
						br {display: none;}
					}
				}
			}			
		}
		@include mediaquery(tablet) {
			.tit_pb_intro {
				width:100%;
				position: relative;
				left:0;
				text-align: center;
				
				.wrap_intro {				
					span, span.enter {display: inline-block;				
						br {display: none;}
					}
				}
			}
		}
		@include mediaquery(mobile) {	
			.intro_area {
				background-size: 170%;
			}	
			.tit_pb_intro {
				width:100%;
				position: relative;
				left:0;
				text-align: center;
				
				.wrap_intro {				
					span, span.enter {display: inline-block;				
						br {display: none;}
					}
				}
			}


			.btn_make_site {
				width:50%;
				height: 40%;
				min-height:100px;
				max-height:200px;
			}
		}
	}

	.pb_header {
		@include mediaquery(mobile) {
			padding: 0 10px;
	
			h2 {display: none;}
			.btn_guide {display: none;}
			.pc_menu_area {display: none;}
			.my_profileimg {margin-left: auto; margin-right: 15px;}
			.btn_logout {width:80px;}
		}
	}
}


.pb_header {
	display    : flex;
	align-items: center;
	width      : 100%;
	height     : 80px;
	padding    : 0 56px;
	position   : absolute;
	top        : 0;
	left       : 0;
	box-sizing : border-box;
	z-index    : 3;

	h1 {
		width: 131px;
	}

	.btn_guide {
		@include btn(#fff, $radius: 17px);
		width                     : 107px;
		height                    : 33px;
		line-height               : 33px;
		margin-left               : 1.3%;
		border                    : 1px solid #4d4d4d;
		font-size                 : $cont_small_txt;
		letter-spacing            : 0;
		color                     : #4d4d4d
	}

	h2 {
		width       : 111px;
		margin-left : auto;
		margin-right: 1.4%;
		font-size   : 1.6rem;
	}

	.my_profileimg {
		width       : 46px;
		margin-right: 0.8%;
		cursor      : pointer;

		img {
			border-radius: 50%;
		}
	}

	.pc_menu_area {
		position    : relative;
		margin-right: 0.8%;

		.user_hello {
			padding      : 0 20px;
			height       : 33px;
			line-height  : 33px;
			font-size    : $cont_small_txt;
			color        : #4d4d4d;
			background   : #fff;
			border       : 1px solid #4d4d4d;
			border-radius: 17px;
			cursor       : pointer;

			.name_txt {
				vertical-align: top;
				color         : #1257f3
			}

			.btn_arrow {
				content       : '';
				display       : inline-block;
				width         : 0;
				height        : 0;
				border-left   : 5px solid transparent;
				border-right  : 5px solid transparent;
				border-bottom : 0;
				border-top    : 9px solid #4d4d4d;
				margin-left   : 14px;
				vertical-align: 1px;
			}
		}

		.pc_menu_cont {
			display         : none;
			position        : absolute;
			width           : 176px;
			left            : 50%;
			box-shadow      : 0 0 12.8px 2.3px rgba(234, 236, 243, 0.4);
			background-color: #ffffff;
			cursor          : default;
			transform       : translate(-50%);
			z-index: 1;


			.hold_lv {
				background: #efefef;
			}
			.my_level {
				height: 32px;
				line-height: 32px;
				font-size: 16px;
				text-align: center;
				cursor: pointer;

				&.lv_free {background: #e1e1e1; color:#4d4d4d;
					&:hover {background: transparentize(#e1e1e1, .1);}
				}
				&.lv_bronze {background: #d99f6c; color:#fff;
					&:hover {background: transparentize(#d99f6c,.1);}
				}
				&.lv_silver {background: #dedede; color:#fff;
					&:hover {background: transparentize(#dedede,.1);}
				}
				&.lv_gold {background: #fbdc4d; color:#fff;
					&:hover {background: transparentize(#fbdc4d, .1);}
				}
			}

			.hold_kong, .hold_point {
				display: flex;
			}
			dt {
				width:70px;
				font-size: 13px;
				font-weight: 400;
				padding-left: 13px;
				box-sizing: border-box;
			}
			.hold_kong  {
				padding-top: 15px;
				padding-bottom: 11px;
				dd {
					font-size: 14px;
					font-weight: 500;
					color:#79a500;
				}
			}
			
			.btn_kong_charge {
				@include btn(#79a500, 11px, 14px);
				display: block;
				width: 91px;
				height: 20px;
				margin-top: 5px;
				line-height: 20px;
				font-weight: 400;

				&:hover {
					background-color: transparentize(#79a500, .1);
				}
			}
			.hold_point {
				padding-bottom: 15px;
				dd {
					font-size: 14px;
					font-weight: 500;
				}				
			} 
		}

		.pc_menu {
			background: #fff;
			font-size: 13px;
			color:#4d4d4d;

			li {
				height: 32px;
				line-height: 32px;
				padding: 0 13px;
				cursor: pointer;

				&:hover {
					background: #efefef;

					a {text-decoration: none;}
				}
			}
		}

		&.on {
			.pc_menu_cont {
				display: block;
			}

			.btn_arrow {
				border-top   : 0;
				border-bottom: 10px solid #4d4d4d;
			}
		}
	}

	.btn_logout {
		@include btn(#fff, $radius: 17px);
		width                     : 107px;
		height                    : 33px;
		line-height               : 33px;
		border                    : 1px solid #4d4d4d;
		font-size                 : $cont_small_txt;
		letter-spacing            : 0;
		color                     : #4d4d4d
	}

	.btn_login {
		@include btn(#fff, $radius: 17px);
		margin-right              : 14px;
		width                     : 107px;
		height                    : 33px;
		line-height               : 33px;
		border                    : 1px solid #4d4d4d;
		font-size                 : $cont_small_txt;
		letter-spacing            : 0;
		color                     : #4d4d4d;
	}

	.btn_join {
		@include btn(#fff, $radius: 17px);
		width                     : 107px;
		height                    : 33px;
		line-height               : 33px;
		border                    : 1px solid #4d4d4d;
		font-size                 : $cont_small_txt;
		letter-spacing            : 0;
		color                     : #4d4d4d
	}	
}

/*----------------------------------------------
	인덱스 페이지 아래 가이드
----------------------------------------------- */
.pb_guide {
	//플레이블록 크리에이터 가이드
	padding-top   : 4.2%;
	padding-bottom: 2.6%;
	background    : #f8f8f8;

	.guide_tit {
		padding-bottom: 4.2%;
		font-weight   : 500;
		font-size     : 3rem;
		color         : #444;
		text-align    : center;
	}



	.guide_subtit {
		font-size: 2.2rem;
		color    : #4d4d4d;
		vertical-align: top;


		@media (min-width:1281px) {
			padding-bottom: 1.6%;
		}

		@include mediaquery(all) {
			padding: 0 20px;
		}

		&.sty2 {
			font-size: 2rem;
		}

		&.sty3 {
			padding-top   : 18px;
			padding-bottom: 0;
			font-size     : 1.8rem;
			font-weight   : 350;
			color         : $watermelon;
		}
	}

	.basic_intro {
		width         : 100%;
		padding-bottom: 10px;
		font-size     : 1.6rem;
		color         : #4d4d4d;
		font-weight   : 350;
		line-height   : 1.5;

		&.sty2 {
			max-width    : 800px;
			margin       : 0 auto;
			padding      : 23px 0 10px;
			border-bottom: 1px solid #ddd;
			color        : $blue;
		}

		&.sty3 {
			max-width  : 800px;
			margin     : 0 auto;
			padding-top: 10px;
			text-align : center;
		}

		@include mediaquery(all) {
			padding: 1.56% 20px;
		}

		em {
			display       : inline-block;
			font-weight   : 400;
			vertical-align: top;
		}

		.btn_my_site {
			color         : $blue;
			vertical-align: text-bottom;
			cursor        : pointer;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.btn_make_site {
		@include btn($blue, $fontsize:2rem, $radius:10px);
		width                        : 200px;
		display                      : block;
		padding                      : 17px 0 20px;
		margin                       : 0 auto;
		font-weight                  : 500;
	}
}

.playblock_intro {
	width        : 100%;
	max-width    : 1280px;
	margin       : 0 auto;
	padding      : 3.3% 0;
	border-top   : 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	box-sizing   : border-box;

	@include mediaquery(all) {
		padding: 3.8% 20px;
	}
}

.playblock_workspace {
	width    : 100%;
	max-width: 1280px;
	margin   : 0 auto;
	padding  : 3.7% 0 0;

	.guide_img {
		display  : block;
		margin   : 10px auto;
		max-width: 829px;

		&.sty2 {
			padding-right: 29px;
		}
	}

	@include mediaquery(all) {
		padding: 3.8% 20px 0;
	}
	@include mediaquery(mobile) {
		padding: 3.8% 10px 0;
	}
}

.detail_guide {
	width    : 100%;
	max-width: 800px;
	margin   : 0 auto;

	>li {
		padding      : 10px 0 11px;
		border-bottom: 1px solid #ddd;
	}

	.li_tit_area {
		display: inline-block;
		width  : 22%;
		min-width:120px;
		font-size: 0;
		vertical-align: top;

		.guide_nbr {
			display      : inline-block;
			width        : 20px;
			height       : 20px;
			margin-right : 10px;
			border-radius: 50%;
			line-height  : 20px;
			font-size    : 1.4rem;
			color        : #fff;
			text-align   : center;
		}

		.guide_maintxt {
			font-size: 1.6rem;			
		}
	}

	.guide_subtxt {
		display    : inline-flex;
		width      : 68%;
		font-weight: 350;
		font-size  : 1.6rem;
		vertical-align: top;

		@include mediaquery(mobile) {
			padding-left: 10px;
				
		}
	}
}

.site_set_guide {

	.guide_nbr {
		font-family: 'Roboto';
		background : $watermelon;
	}
}

.section_set_guide {
	.li_tit_area {
		vertical-align: top;

		.guide_maintxt {
			line-height: 20px;
		}
	}

	.guide_subtxt {
		vertical-align: top;
	}

	.guide_nbr {
		font-family: '굴림';
		background : $blue;
	}

	.section_detail_guide {
		li {
			padding-bottom: 8px;
		}
	}
}

.playblock_tree {
	width    : 100%;
	max-width: 1280px;
	margin   : 0 auto;

	.guide_img {
		display  : block;
		width    : 100%;
		max-width: 854px;
		margin   : 0 auto;

		&.sty2 {
			max-width: 800px;
		}

		&.sty3 {
			margin-top: 0;
		}
	}

	.guide_subtit {
		padding-top: 29px;
		text-align : center;

		&.sty2 {
			padding-top   : 49px;
			padding-bottom: 1.56%;
		}

		&.sty3 {
			padding-top: 49px;
		}

		&.sty4 {
			text-align: left;
		}

		@include mediaquery(all) {
			padding-top: 2.26%;

			&.sty2,
			&.sty3 {
				padding-top: 3.82%;
			}
		}
	}
}

.guide_foot_note {
	width      : 100%;
	max-width  : 500px;
	margin     : 50px auto 79px;
	color      : #4d4d4d;
	line-height: 1.67;
	font-size  : 1.8rem;

	&:before {
		content   : '';
		display   : block;
		width     : 13px;
		height    : 2px;
		margin    : 0 auto 49px;
		background: #4d4d4d;
	}

	@include mediaquery(all) {
		margin: 10% auto 15.8%;

		&:before {
			margin-bottom: 9.8%;
		}
	}

	@media (max-width:500px) {
		padding:0 20px
	}
}


/*----------------------------------------------
	사이트 만들기,사이트목록 페이지
----------------------------------------------- */

.wrap_make {//사이트 만들기 팝업 배경
	position: fixed;
	z-index: 12;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity:0;
	transition:opacity 2s;

	&:before {		
		display: block;
		width:100vw;height:100vh;
		position:absolute;
		top:0;left:0;
		z-index:-1;
		background: #fff;
		filter:blur(60px) grayscale(0.1);
		transition:all 3s;

	}	

	&.on {
		opacity:1;

		&:before {
			content:'';
			filter:blur(0) grayscale(0);
			background:rgba(0,0,0,.9);
		}
	}

	&.off {
		opacity:0;
		transition:none;
	}	
}

.make_site_idx {//새로운 사이트 CO.2-2
	position: relative;
	width   : 100vw;
	height  : 100vh;

	.wrap_naming_site {
		position : absolute;
		left     : 50%;
		top      : 50%;
		transform: translate(-50%, -50%);
	}

	h2 {
		position   : relative;
		width      : 1280px;
		font-size  : $tit_txt;
		text-align : center;
		color      : #ccc;

		.btn_close {
			display : block;
			position: absolute;
			right   : 15px;
			top     : -24px;
			@include bg(25px, 25px, '../images/btn_close2.svg');
			transition:transform .4s;
			cursor: pointer;

			&:hover {
				transform:scale(1.2);
			}
		}
	}

	.cont_make_site {
		width : 400px;
		margin: 102px auto 0;

		.area_site_name,
		.area_site_url {
			display         : flex;
			align-items     : center;
			width           : 400px;
			height          : 60px;
			margin-bottom   : 15px;
			padding         : 20px 14px;
			border-radius   : 4px;
			background-color: rgba(221, 221, 221, 0.5);
			box-sizing      : border-box;

			input {
				display    : block;
				color      : #fff;
				font-size  : 2rem;
			}
		}

		.area_site_name input {width:100%;}

		.area_site_url {
			.fixed_pbcom {
				font-size: 2rem;
				color: #bbb;
			}
			input {
				width:50%;				
				margin: 0 10px 0 0;
			}
		}

		.area_select {
			display        : flex;
			justify-content: space-between;
			padding        : 0 30px;

			.check_box {
				height     : 20px;
				line-height: 20px;

				@include check_custom1(20px, 20px, 1px solid #757575);

				.checkmark {
					border-radius: 50%;
					background   : #fff;
					box-sizing   : border-box;
				}

				@include radiomark;

				
				font-size  : $btn_txt;
				color      : #ddd;
			}
		}

		.area_btn_make_site {
			margin-top      : 49px;
			margin-bottom   : 30px;
			border-radius   : 4px;
			background-color: $blue;

			span {
				display    : block;
				width      : 400px;
				height     : 60px;
				line-height: 60px;
				color      : #fff;
				font-size  : 2.4rem;
				font-family: $font_m;
				text-align : center;
				cursor     : pointer;
			}
		}

		.add_notice {
			color      : #757575;
			font-size  : 1.4rem;
			font-family: $font_r;
			text-align : center;
		}
	}
}

//새로운 사이트 CO.2-2 알럿
.site_info_alt {
	position : fixed;
  z-index  : 12;
  top      : 50%;
  left     : 50%;
	width        : 310px;
	padding      : 30px 30px 15px;
	box-sizing   : border-box;
	border-radius: 4px;
  transform: translate(-50%, -50%);
	background   : #f7f7f7;

	.txt_alert {
		margin-bottom: 40px;
		font-size    : 1.4rem;
		font-family  : $font_r;
		line-height  : 1.4;
		color        : #242424
	}

	.btn_box {
		display: flex;

		// .btn_cnxl {
		// 	margin-right: auto;
		// 	@include btn(#757575);
		// 	width      : 110px;
		// 	height     : 32px;
		// 	line-height: 32px;
		// }

		.btn_cnfm {
			@include btn($blue);
			width      : 110px;
			height     : 32px;
			line-height: 32px;
			margin: 0 auto;
		}
	}
}

//내 사이트 목록 CO.1-0
.my_site_list {
	padding-top: 80px;

	.wrap_my_site {
		width : 1280px;
		margin: 0 auto;

		h2 {
			padding-bottom: 49px;
			font-size     : 3rem;
			font-family   : $font_r;
			text-align    : center;
			color         : #4d4d4d;
		}

		.cont_my_site {
			.wrap_list {
				display  : flex;
				flex-wrap: wrap;

				li {
					padding: 0 15px 15px 15px;

					.list_head {
						position: relative;

						img {
							width : 396px;
							height: 230px;
						}

						.btn_del {
							position: absolute;
							right   : 13px;
							top     : 13px;
							@include bg(21px, 21px, '../images/btn_close.svg');
							cursor: pointer;
						}
					}

					.list_main {
						padding-top: 29px;
						color      : #4d4d4d;

						.site_tit {
							padding-bottom: 15px;
							font-size     : $cont_big_txt;
							font-family   : $font_r;

							.lv_free,
							.lv_bronze,
							.lv_gold,
							.lv_silver {
								display       : inline-block;
								padding-left  : 5px;
								font-size     : $cont_small_txt;
								vertical-align: 2px;
							}

							.lv_free {
								color: $watermelon;
							}

							.lv_bronze {
								color: #c05a36;
							}

							.lv_gold {
								color: #8d7542;
							}

							.lv_silver {
								color: #4d4d4d
							}

							.badge_bronze {
								display: inline-block;
								@include bg(21px, 21px, '../images/badge_bronze.png');
								margin-right  : 4px;
								vertical-align: top;
							}

							.badge_silver {
								display: inline-block;
								@include bg(21px, 21px, '../images/badge_silver.png');
								margin-right  : 4px;
								vertical-align: top;
							}

							.badge_gold {
								display: inline-block;
								@include bg(21px, 21px, '../images/badge_gold.png');
								margin-right  : 4px;
								vertical-align: top;
							}

						}

						.site_url {
							padding-bottom: 8px;
							font-family   : $font_r;
							font-size     : $cont_txt;
						}

						.expire_area {
							.btn_upgr {
								@include btn($pink);
								width      : 140px;
								height     : 30px;
								line-height: 30px;
							}
						}
					}

					.list_ft {
						display   : flex;
						margin-top: 15px;

						span {
							cursor: pointer;

							&.btn_mng {
								@include btn(#4e4e4e);
								width      : 90px;
								height     : 30px;
								line-height: 30px;
							}

							&.btn_dsgn {
								margin: 0 13px;
								@include btn($blue);
								width      : 140px;
								height     : 30px;
								line-height: 30px;
							}

							&.btn_copy {
								@include btn($blue);
								width      : 140px;
								height     : 30px;
								line-height: 30px;
							}
						}
					}

					&.deleted_site {

						//정지된 홈페이지
						.list_head .wrap_reopen {
							position        : absolute;
							top             : 0;
							left            : 0;
							width           : 100%;
							height          : 230px;
							padding         : 40px 40px 0;
							box-sizing      : border-box;
							background-color: rgba(221, 221, 221, 0.8);
							text-align      : center;

							.site_tit {
								padding-bottom: 22px;
								font-size     : $cont_big_txt;
								font-family   : $font_m;
								color         : $watermelon;
								text-align    : left;
							}

							dl {
								padding-bottom: 37px;
								color         : #4e4e4e;
								text-align    : left;

								dt {
									font-size  : $cont_small_txt;
									font-family: $font_m;
								}

								dd {
									padding-top: 9px;
									font-size  : $cont_txt;
									font-family: $font_r;
								}
							}

							.btn_reopen {
								@include btn($blue);
								width      : 150px;
								height     : 30px;
								line-height: 30px;
							}
						}

						.list_ft {

							.btn_mng,
							.btn_dsgn,
							.btn_copy {
								background-color: #ddd;
								cursor          : default;
							}
						}
					}
				}
			}

			.area_btn_make_site {
				margin-top   : 49px;
				margin-bottom: 50px;
				text-align   : center;

				.btn_make_site {
					@include btn(#fff, $radius: 10px);
					border                    : 1px solid $blue;
					width                     : 250px;
					height                    : 70px;
					line-height               : 70px;
					box-sizing                : border-box;
					font-size                 : 2.2rem;
					color                     : $blue;
				}
			}
		}
	}
}

#kong_charge_pop {
	width:100%;
	max-width:980px;
	overflow: hidden;	

	@media (max-width:1024px) {//태블릿 이하
		max-width:unset;		
		height:100vh;	

		.pop_head, .pop_cont{border-radius: 0;}
		.pop_cont {overflow-y:auto; height:calc(100vh - 70px)}
	}
}
.kong_charge_pop {//콕콩 충전하기
	
	.pop_head {
		position: relative;
		height: 70px;
		line-height: 70px;
		padding: 0 40px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		font-size: 2rem;
		font-weight: 500;
		color:#4d4d4d;
		background: #fff;

		.btn_close {
			display: block;
			@include bg(15px, 16px, '/images/btn_icon_del1.svg');
			position: absolute;
			right:40px;
			top:27px;			
			cursor: pointer;
		}		
	}

	.pop_cont {	
		position: relative;		
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 24px 40px 32px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		background: #f8f8f8;

		&:before {
			content:'';
			display: block;
			width:100%;
			height:11px;
			position: absolute;
			top:0;
			left:0;
			background:#f8f8f8 url(/images/bg_gradient.png) no-repeat center/cover;
		}

		@media (max-width:1024px) {//태블릿 이하
			display: block;
			padding: 35px 0 0;			
		}		
	}

	.kong_basket {
		@include bg(395px, 289px, '/images/img_kong_basket.svg');

		@media (max-width:1024px) {//태블릿 이하
			display: block;
			margin: 0 auto 30px;	
		}
	}

	.current_kong {
		margin-bottom: 10px;
		font-size: 2rem;
		color:#84bf04;

		.icon_kong {
			display: inline-block;
			@include bg(28px,25px, '/images/icon_kong.svg');
			margin-right: 9px;
		}
	}

	.inp_kong_area {
		padding: 26px;
		background: #fff;
		
		@media (max-width:1024px) {//태블릿 이하
			padding: 40px 80px;
		}
		
	}

	.kong_wrap {
		display: flex;
		align-items: center;
		height:70px;
		background: #f8f8f8;

		.title_box {
			width:162px;
			padding-left: 25px;
			font-size: 1.6rem;
			font-weight: 500;
			box-sizing: border-box;
		}

		.inp_kong {

			padding: 4px 6px;
			margin-right: 25px;
			border-bottom: 1px solid #4d4d4d;
			font-size: 1.6rem;
			color:#4d4d4d;
		}
	}

	.total_price {
		display: flex;
		justify-content: space-between;
		margin-bottom: 11px;

		dt {
			width:162px;
			padding-left: 25px;
			font-size: 1.6rem;
			font-weight: 500;
			box-sizing: border-box;
		}
		.result_pay {
			padding-right: 24px;
			font-size: 1.6rem;
			font-weight: 500;
			color:#4d4d4d;
			text-align: right;

			.vat_txt {
				font-weight: 400;
				font-size: 1.2rem;
				color:#828282;
			}
		}
	}

	.ps {
		margin-bottom: 5px;		
		font-size: 1.2rem;
		text-align: right;
		color:$watermelon;

		.icon_exclm {
			display: inline-block;
			@include bg(12px,12px,'/images/icon_excla2_pink.png');
			margin-right: 6px;
			vertical-align: -2px;
		}

		@media (max-width:1024px) {
			text-align: center;
		}
	}


	.pay_terms_box {
		padding-top: 30px;
		font-size: 1.6rem;
		color:#4d4d4d;

		.all_terms_chk {
			position: relative;
			padding-bottom: 5px;
			margin-bottom: 10px;
			border-bottom: 1px solid #4d4d4d;
			
			.check_contain {
				@include check_custom1(14px,14px,1px solid #828282,19px);
				position: absolute;right:0;top:4px;
				line-height: 14px;
			}
		}

		.terms_title_wrap {
						
			.check_contain {
				@include check_custom2(14px,14px,1px solid #828282,19px);
				position: relative;
				width:100%;

				.checkmark {
					position: absolute;right:66px; top:4px;
				}
			
			}

			.btnAllTerms {
				padding-right: 12px;
				@include bg(6px, 11px, '/images/icon_arrow4.svg');
				font-size: 1.2rem;
				color:#828282;
			}
		}		
	}
	.pay_go {
		display: block;
		width:200px;
		height: 49px;
		line-height: 49px;
		margin: 32px auto 0;
		border-radius: 30px;
		font-size: 1.8rem;
		text-align: center;
		color:#fff;
		background: #4d4d4d;
		cursor: pointer;

		&:hover {
			background: transparentize(#4d4d4d, .1);
		}
	}
}



